*.log

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.next/
dist/
.bob/
.idea/
out/
website/public/_redirects
website/public/sitemap.xml
website/public/robots.txt
.turbo/
